@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Prosto One', cursive;
}

html {
  overflow-x: scroll;
  font-size: 16px;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

body {
  width: 100%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.25rem 0;
}

h1,
h2,
h3 {
  font-family: 'MuseoModerno', cursive;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

#container,
#menu-bar {
  max-width: 1100px;
}

#container {
  padding: 0;
  margin: 0 auto;
}

#menu-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  background-color: aqua;
}

#drop-down-btn {
  width: auto;
}

#menu-btn {
  border-radius: 10px;
  margin: 2px 3px;
}

#nav-bar {
  width: 100%;
}

#nav-bar ul {
  margin: 0;
}

#nav-bar ul li {
  margin-inline-end: 1rem;
}

#nav-bar ul li a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  font-family: 'Prosto One', cursive;
}

@media only screen and (min-width: 576px) {
  #nav-bar {
    justify-content: center;
  }
}

/* main {} */
main {
  margin-top: 2rem;
}

#welcome {
  z-index: 1;
  width: 100%;
  height: calc(100vh - 50px);
}

.block-background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../img/bg-note-coffee-office.png');
  background-size: cover;
  height: 100%;
  z-index: -3;
  width: 100%;
}

#welcome-banner {
  background-image: linear-gradient(black, 60%, transparent);
  border-radius: 15px;
}

#projects {
  border-bottom: 1px solid;
  padding: 1rem;
  margin: 0;
}

#projects a {
  text-decoration: none;
  text-decoration-line: none;
  color: black;
  cursor: pointer;
}

.project-image {
  grid-area: 'image';
}

.project-desc {
  grid-area: 'info';
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  #project-list {
    display: grid;
    gap: 2rem;
  }

  .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "image description";
    gap: 1rem;
  }

  .project:nth-child(even) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "description image";
  }

  .project-image {
    grid-area: image;
  }

  .project-description {
    grid-area: description;
  }

  .project-image,
  .project-description {
    align-self: center;
  }
}

#skills {
  border-bottom: 1px solid;
  padding: 1rem;
  margin: 1rem 0;
}

#skills h2 {
  margin-bottom: 2rem;
}

#skills .tech-icons {
  margin: 5px;
}

#skills #tech-desc {
  border: 1px solid;
  display: none;
  width: 90%;
  height: auto;
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(236, 182, 64);
  border-radius: 1rem;
}

#contacts {
  height: 100vh;
}

.contact-form {
  width: 300px;
  padding: 10px;
}

.fields {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.fields input,
textarea {
  width: 100%;
  padding-left: 5px;
}

#contacts {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: calc(100vh - 35px);
}

#contacts #form-submit {
  border: 1px solid;
  border-radius: 10px;
  padding: 0 10px;
}

#projects,
#skills,
#contacts {
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  .contact-form {
    width: 400px;
  }
}